.home
    max-width: none
    padding: 0

    .hero
        background: black url('/img/home-bg.png') center top no-repeat
        overflow: hidden
        padding: 2rem
        
        h1
            display: none

        img
            max-height: 200px

        .description
            color: #fff
            text-shadow: 0 0 15px rgba(255, 255, 255, .6)

        .action-button svg
            display: none

    .content__default
        margin: 0 auto
        max-width: 960px
        padding: 3.6rem 2rem

table
    code
        white-space: nowrap
